@page "/Feeds"
@using PheasantTails.TwiHigh.Data.Store.Entity;
@inherits PageBase

<PageTitle>通知 - ツイハイ！</PageTitle>
<PageTitleComponent Title="通知" />

<section>
    @if (MyFeeds == null)
    {
        <Loading />
    }
    else if (0 < MyFeeds.LongLength)
    {
        @foreach (Feed feed in MyFeeds)
        {
            var action = feed.FeedType switch
            {
                Feed.FEED_TYPE_FAVORED => "あなたのツイートをお気に入りに入れました。",
                Feed.FEED_TYPE_FOLLOWED => "あなたをフォローしました。",
                Feed.FEED_TYPE_INFORMATION => "",
                Feed.FEED_TYPE_MENTIONED => "あなたのツイートに返信しました。",
                Feed.FEED_TYPE_RETWEETED => "あなたのツイートをリツイートしました。",
                _ => ""
            };

            <article class="feed-item">
                @* 左 *@
                <div class="feed-item-left">
                    @* アイコン *@
                    <AvatarComponent UserAvatarUrl="@(feed.FeedByUserAvatarUrl)"
                                     OnClick="@(() => { Navigation.NavigateTo(string.Format(DefinePaths.PAGE_PATH_PROFILE, feed.FeedByUserDisplayId)); })" />
                </div>
                @* 右 *@
                <div class="feed-item-right">
                    @* ヘッダー *@
                    <div class="feed-item-right-header">
                        @* ユーザー名 *@
                        <div class="user-display-name">
                            <span @onclick="@(() => { Navigation.NavigateTo(string.Format(DefinePaths.PAGE_PATH_PROFILE, feed.FeedByUserDisplayId)); })">@feed.FeedByUserDisplayName</span>
                        </div>
                        @* ユーザーID *@
                        <div class="user-display-id">
                            <span @onclick="@(() => { Navigation.NavigateTo(string.Format(DefinePaths.PAGE_PATH_PROFILE, feed.FeedByUserDisplayId)); })">@@@feed.FeedByUserDisplayId</span>
                        </div>
                    </div>
                    @* ボディ*@
                    <div class="feed-item-right-body">
                        @* テキスト本文 *@
                        <div class="user-tweet-text" @onclick="@(() => { Navigation.NavigateTo(string.Format(DefinePaths.PAGE_PATH_STATUS, feed.FeedToUserId, feed.ReferenceTweetId)); })">
                            <span>
                                @(feed.FeedByUserDisplayName)さんが@(action)
                            </span>
                        </div>
                    </div>
                    <div class="feed-item-right-footer">
                    </div>
                </div>
            </article>
        }
    }
    else
    {
        <NoContentsComponent NoContentsText="通知はありません。" />
    }
</section>
