@page "/profile/{Id}"
@*
    ユーザページ
*@

<PageTitleComponent Title="@Title" />

@if (User == null)
{
}
else
{
    <section class="px-3">
        <div class="profile-header">
            @* アイコン *@
            <BigAvatarComponent UserAvatarUrl="@User.AvatarUrl" />

            @* フォローボタン *@
            <FollowButtonComponent IsFollowing=@IsFollowing OnClickFollowButton="OnClickFollowButton" />
        </div>

        @* プロフィール *@
        <div class="profile-display-name">
            @User.DisplayName
        </div>
        <div>
            <span class="profile-display-id">@@@User.DisplayId</span>
            @if (IsFollowed)
            {
                <span class="is-followed">フォローされています</span>
            }
        </div>
        <div class="profile-createdat">
            <span>@User.CreateAt.ToLocalTime().ToString("d") からTwiHighの住人です</span>
        </div>
        <div class="profile-biography">
            @User.Biography
        </div>
        <div class="profile-follow">
            <a href="profile/@(Id)/follows" style="text-decoration: none;">
                <span class="number">@User.Follows.Length</span>
                <span class="text">フォロー中</span>
            </a>
            <span class="space"></span>
            <a href="profile/@(Id)/followers" style="text-decoration: none;">
                <span class="number">@User.Followers.Length</span>
                <span class="text">フォロワー</span>
            </a>
        </div>
    </section>
    @* ツイート *@

}
