@page "/Profile/{Id}/Follows"
@using PheasantTails.TwiHigh.Data.Model.TwiHighUsers
@inherits TwiHighPageBase
@rendermode InteractiveAuto

<PageTitle>@(ViewModel.PageTitle.Value) - @(BRAND_NAME)</PageTitle>
<THOpenGraphProtocol Title="@($"{ViewModel.PageTitle.Value} - {BRAND_NAME}")"
                     Description="@($"{ViewModel.PageTitle.Value} は {ViewModel.UserFollows.Count} 人です。")"
                     Image="@ViewModel.UserDisplayedOnScreen.Value?.AvatarUrl" />
<THPageHeaderTitle Title="@ViewModel.PageTitle.Value" />

<section>
    @if (ViewModel.UserFollows == null)
    {
        <THLoading />
    }
    else if (0 < ViewModel.UserFollows.Count)
    {
        @foreach (ResponseTwiHighUserContext user in ViewModel.UserFollows)
        {
            <THUser User="user" />
        }
    }
    else
    {
        <THNoContents NoContentsText="フォロー中のアカウントはありません。" />
    }
</section>