@page "/Home"
@*
    Home page
*@
@rendermode InteractiveWebAssembly
@attribute [Authorize]
@inherits TwiHighPageBase
@inject IHomeViewModel ViewModel
@inject ITimelineWorkerService WorkerService

@* Title *@
<PageTitle>ホーム - ツイハイ！</PageTitle>
<THPageHeaderTitle Title="ホーム" />

@* Tweet post form *@
<section>
    <THPostForm UserAvatarUrl="@ViewModel.AvatarUrl.Value"
                OnClickAvatarCommand="@ViewModel.NavigateProfileEditorPageCommand"
                OnPostTweetCommand="@ViewModel.PostTweetCommand"
                IsForceForcus=true />
</section>

@* Timeline *@
@if (Tweets == null)
{
    <THNoContents NoContentsText="@("まずは @twihigh をフォローしてみよう！")" />
}
else
{

    <THTimeline @key="@ViewModel.MyTwiHighUserId.Value"
                Tweets="@WorkerService.Timeline"
                MyTwiHithUserId=@ViewModel.MyTwiHighUserId.Value
                OnClickDelete="async (t) => await ViewModel.DeleteMyTweetCommand.ExecuteAsync(t)"
                OnPostReply="async (t) => await ViewModel.PostTweetCommand.ExecuteAsync(t)"
                OnClickProfileEditor="() => ViewModel.NavigateProfileEditorPageCommand.Execute()"
                OnClickProfile="(t) => ViewModel.NavigateUserPageCommand.Execute(t)"
                OnClickGapTweetsLoad="async (t) => await ViewModel.GetGapTweetCommand.ExecuteAsync(t)"
                OnClickDetail="(t) => ViewModel.NavigateStatePageCommand.Execute((t, t))" />
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync().ConfigureAwait(false);
        await ViewModel.GetLoginUserIdCommand.ExecuteAsync().ConfigureAwait(false);
        await ViewModel.GetMyAvatarUrlCommand.ExecuteAsync().ConfigureAwait(false);
        StateHasChanged();

        await ScrollInfoService.Enable();
        ScrollInfoService.OnScroll += MarkAsReadedTweet;

        await GetMyTimelineEvery5secAsync(WorkerCancellationTokenSource.Token);
    }
}