@page "/Home"
@*
    Home page
*@
@rendermode InteractiveWebAssembly
@attribute [Authorize]
@inherits TwiHighPageBase
@inject IHomeViewModel ViewModel
@inject ITimelineWorkerService WorkerService
@inject IScrollInfoService ScrollInfoService

@* Title *@
<PageTitle>ホーム - @(BRAND_NAME)</PageTitle>
<THPageHeaderTitle Title="ホーム" />

@* Tweet post form *@
<section>
    <THPostForm UserAvatarUrl="@ViewModel.AvatarUrl.Value"
                OnClickAvatarCommand="@ViewModel.NavigateProfileEditorPageCommand"
                PostTweetCommand="@ViewModel.PostTweetCommand"
                IsForceForcus=true />
</section>

@* Timeline *@
@if (WorkerService.Timeline.Count == 0)
{
    <THNoContents NoContentsText="@("まずは @twihigh をフォローしてみよう！")" />
}
else
{
    <THTimeline @key="@ViewModel.MyTwiHighUserId.Value"
                Tweets="@WorkerService.Timeline"
                MyTwiHithUserId=@ViewModel.MyTwiHighUserId.Value
                DeleteTweetCommand="ViewModel.DeleteMyTweetCommand"
                PostTweetCommand="ViewModel.PostTweetCommand"
                OnClickProfileEditor="() => ViewModel.NavigateProfileEditorPageCommand.Execute()"
                OnClickProfile="(t) => ViewModel.NavigateUserPageCommand.Execute(t)"
                OnClickGapTweetsLoad="async (t) => await ViewModel.GetGapTweetCommand.ExecuteAsync(t)"
                OnClickDetail="(t) => ViewModel.NavigateStatePageCommand.Execute(t)" />
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync().ConfigureAwait(false);
        ScrollInfoService.OnScroll += ViewModel.MarkAsReadedTweetCommand.Execute;
        WorkerService.OnChangedTimeline += InvokeRender;
        await ViewModel.GetLoginUserIdCommand.ExecuteAsync().ConfigureAwait(false);
        await ViewModel.GetMyAvatarUrlCommand.ExecuteAsync().ConfigureAwait(false);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender).ConfigureAwait(false);
        if (firstRender)
        {
            await ScrollInfoService.EnableAsync();
            WorkerService.Run();
        }
    }

    public override async ValueTask DisposeAsync()
    {
        ScrollInfoService.OnScroll -= ViewModel.MarkAsReadedTweetCommand.Execute;
        WorkerService.OnChangedTimeline -= InvokeRender;
        WorkerService.Stop();
        await ScrollInfoService.DisableAsync();
        await base.DisposeAsync();
    }

    private async void InvokeRender() => await InvokeRenderAsync().ConfigureAwait(false);
}