@*
    User profile page
*@
@page "/profile/{Id?}"
@inherits TwiHighPageBase
@rendermode InteractiveAuto

<PageTitle>@(ViewModel.PageTitle.Value) - @(BRAND_NAME)</PageTitle>
<THOpenGraphProtocol Title="@($"{ViewModel.PageTitle.Value} - {BRAND_NAME}")"
                     Description="@($"{ViewModel.UserDisplayedOnScreen.Value?.DisplayName}さんは{BRAND_NAME}を使っています！ {BRAND_NAME}にログインして何をツイートしているか見てみよう！")"
                     Image="@ViewModel.UserDisplayedOnScreen.Value?.AvatarUrl" />
<THPageHeaderTitle Title="@ViewModel.PageTitle.Value" />

@if (ViewModel.UserDisplayedOnScreen.Value == null)
{
    <THLoading />
}
else
{
    <section class="px-3">
        <div class="profile-header">
            @* アイコン *@
            <THBigAvatar UserAvatarUrl="@ViewModel.UserDisplayedOnScreen.Value.AvatarUrl" />

            @* フォローボタン *@
            @if (ViewModel.IsMyTwiHighUser.Value)
            {
                <button class="profile-edit-button" @onclick="() => ViewModel.NavigateProfileEditorPageCommand.Execute()">プロフィールを編集</button>
            }
            else
            {
                <THFollowButton IsFollowing=@IsFollowing OnClickFollowButton="OnClickFollowButton" OnClickRemoveButton="OnClickRemoveButton" />
            }
        </div>

        @* プロフィール *@
        <div class="profile-display-name">
            @ViewModel.UserDisplayedOnScreen.Value.DisplayName
        </div>
        <div>
            <span class="profile-display-id">@@@ViewModel.UserDisplayedOnScreen.Value.DisplayId</span>
            @if (IsFollowed)
            {
                <span class="is-followed">フォローされています</span>
            }
        </div>
        @* アカウント作成日 *@
        <div class="profile-createdat">
            <span>@ViewModel.UserDisplayedOnScreen.Value.CreateAt.ToLocalTime().ToString("d") からツイハイ！の住人です</span>
        </div>
        @* Bio *@
        <div class="profile-biography">
            <THAutoLink Text="@ViewModel.UserDisplayedOnScreen.Value.Biography.GetTextWithNewline()" />
        </div>
        @* フォロー人数 *@
        <div class="profile-follow">
            <a href="profile/@(Id)/follows" style="text-decoration: none;">
                <span class="number">@ViewModel.UserDisplayedOnScreen.Value.Follows.Length</span>
                <span class="text">フォロー中</span>
            </a>
            <span class="space"></span>
            <a href="profile/@(Id)/followers" style="text-decoration: none;">
                <span class="number">@ViewModel.UserDisplayedOnScreen.Value.Followers.Length</span>
                <span class="text">フォロワー</span>
            </a>
        </div>
    </section>
    @* ツイート *@
    <THTimeline @key="ViewModel.UserDisplayedOnScreen.Value.Id"
                Tweets="ViewModel.Tweets"
                MyTwiHithUserId="MyTwiHithUserId"
                DeleteTweetCommand="ViewModel.DeleteMyTweetCommand"
                OnClickProfileEditor="() => ViewModel.NavigateProfileEditorPageCommand.Execute()"
                PostTweetCommand="ViewModel.PostTweetCommand"
                OnClickProfile="ViewModel.NavigateUserPageCommand.Execute"
                OnClickDetail="ViewModel.NavigateStatePageCommand.Execute" />
}
