@* ツイート外枠 *@
<article class="tweet-article">
    @if (Tweet != null)
    {
        @* 左 *@
        <div class="tweet-article-left">
            @* アイコン *@
            <AvatarComponent UserAvatarUrl="@Tweet.UserAvatarUrl" OnClick=OnClickAvatar />
        </div>
        @* 右 *@
        <div class="tweet-article-right">
            @* ヘッダー *@
            <div class="tweet-article-right-header">
                @* ユーザー名 *@
                <div class="user-display-name">
                    <span @onclick=OnClickUserDisplayName>@Tweet.UserDisplayName</span>
                </div>
                @* ユーザーID *@
                <div class="user-display-id">
                    <span @onclick=OnClickUserDisplayId>@@@Tweet.UserDisplayId</span>
                </div>
                @* 投稿時刻 *@
                <div class="user-display-createat">
                    <span title="@(Tweet.CreateAt.ToLocalTime().ToString("G"))">@CreateAt</span>
                </div>
            </div>
            @* ボディ*@
            <div class="tweet-article-right-body">
                @* テキスト本文 *@
                <div class="user-tweet-text">
                    <span><AutoLink Text="@Tweet.Text" ReplaceDisplayId=true /></span>
                </div>
            </div>
            <div class="tweet-article-right-footer">
                @*
                <button class="link-button">
                    <span class="icon oi oi-comment-square"></span>
                    <span class="number">@Tweet.ReplyFrom.Length</span>
                </button>
            <button class="link-button">
            <span class="icon oi oi-star"></span>
            <span class="number">----</span>
            </button>
            *@
                @if (IsMyTweet)
                {
                    <button class="link-button" @onclick=OnClickDeleteButton>
                        <span class="icon oi oi-trash"></span>
                    </button>
                }
            </div>
        </div>
    }
</article>