@inherits TwiHighComponentBase
@* ツイート外枠 *@
<article id="@ArticleId" class="twi-high-article fadein @(Tweet == null ? "" : (Tweet.IsReaded ? "readed" : "unread-border"))">
    @if (Tweet != null)
    {
        @* 左 *@
        <div class="twi-high-article-left">
            @* アイコン *@
            <THAvatar UserAvatarUrl="@Tweet.UserAvatarUrl" OnClick=OnClickAvatar />
        </div>
        @* 右 *@
        <div class="twi-high-article-right">
            @* ヘッダー *@
            <div class="twi-high-article-right-header @(Tweet.IsEmphasized ? "emphasized" : "")">
                @* ユーザー名 *@
                <div class="user-display-name">
                    <span class="@(Tweet.IsEmphasized ? "emphasized" : "")" @onclick=OnClickUserDisplayName>@Tweet.UserDisplayName</span>
                </div>
                @if (Tweet.IsEmphasized)
                {
                    <div style="width: 100%;"></div>
                }
                @* ユーザーID *@
                <div class="user-display-id">
                    <span class="@(Tweet.IsEmphasized ? "emphasized" : "")" @onclick=OnClickUserDisplayId>@@@Tweet.UserDisplayId</span>
                </div>
                @if (!Tweet.IsEmphasized)
                {
                    @* 投稿時刻 *@
                    <div class="user-display-createat">
                        <span title="@(Tweet.CreateAt.ToLocalTime().ToString("G"))">@Tweet.CreateAtDatetimeString</span>
                    </div>
                }
            </div>
            @* ボディ*@
            <div class="twi-high-article-right-body" @onclick="OnClickTweetArea">
                @* テキスト本文 *@
                <div class="user-tweet-text @(Tweet.IsEmphasized ? "emphasized" : "")">
                    @if (!string.IsNullOrEmpty(Tweet.ReplyToUserDisplayId) && !Tweet.IsDeleted)
                    {
                        <span class="reply"><THAutoLink Text="@($"Replying to @{Tweet.ReplyToUserDisplayId}")" ReplaceUrl=false /></span>
                        <br />
                    }
                    <span class="@(Tweet.IsEmphasized ? "emphasized" : "")"><THAutoLink Text="@Tweet.Text.GetTextWithNewline()" ReplaceDisplayId=true /></span>
                </div>
            </div>
            <div class="twi-high-article-right-footer  @(Tweet.IsEmphasized ? "emphasized" : "")">
                @if (Tweet.IsEmphasized)
                {
                    @* 投稿時刻 *@
                    <div class="user-display-createat">
                        <span title="@(Tweet.CreateAt.ToLocalTime().ToString("G"))">@(Tweet.CreateAt.ToLocalTime().ToString("G")) 投稿</span>
                    </div>
                    <div style="width: 100%; height: 8px;"></div>
                }
                <button class="link-button" @onclick=OnClickReplyButton>
                    <span class="icon oi oi-comment-square"></span>
                    <span class="number">@Tweet.ReplyFrom.Length</span>
                </button>
                @*
            <button class="link-button">
            <span class="icon oi oi-star"></span>
            <span class="number">----</span>
            </button>
            *@
                <button class="link-button"></button>
                <button class="link-button"></button>
                @if (IsMyTweet)
                {
                    <button class="link-button" @onclick=OnClickDeleteButton>
                        <span class="icon oi oi-trash" style="margin-left: auto; margin-right:4px;"></span>
                    </button>
                }
            </div>
        </div>
    }
</article>
@if (IsOpendReplyPostForm)
{
    <section class="reply-section">
        <THPostForm ReplyToContext=ReplyToContext TweetText="@($"@{Tweet?.UserDisplayId} ")" OnPostTweet="OnClickPostTweet" @ref="ReplySection" />
    </section>
}